﻿extends layout

block content
  .main-container
    ul#recordingslist
    form
      .form-row
        .form-group.col-md-6
          label(for='inputEmail4') Họ tên
          input#name.form-control(type='text')
          button.btn-name.btn.btn-primary(onclick='handle("name")',type='button') Ghi âm
        .form-group.col-md-6
          label(for='inputPassword4') Giới tính
          input#gender.form-control(type='text')
          button.btn-name.btn.btn-primary(onclick='handle("gender")',type='button') Ghi âm
      .form-row
        .form-group.col-md-6
          label(for='inputEmail4') Địa chỉ
          input#address.form-control(type='text')
          button.btn-name.btn.btn-primary(onclick='handle("address")',type='button') Ghi âm
        .form-group.col-md-6
          label(for='inputPassword4') Số điện thoại
          input#phone.form-control(type='text')
          button.btn-name.btn.btn-primary(onclick='handle("phone")',type='button') Ghi âm
      //- button.btn-recorder.btn.btn-primary(type='button') Bắt đầu
      //- span |
      //- span.text-current Nhập Họ tên
      //- span |
      //- span.text-time Kết thúc sau 5s
      